.sec-desc{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 0.5rem;
    
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* background-color: var(--section-overlay) !important; */
background: rgba(255, 255, 255, 0.1) !important;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);

    padding: 0.3rem;
    border-radius: 0.4rem;
    color: black !important;
    font-weight: 500;
    position: relative;    
    overflow: hidden;

}




.card-icon{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center ;
    gap: 5px;
    /* margin-bottom: px; */
}
.card-icon>small{
    text-transform: capitalize;
}


@media screen and (max-width:1024px) {
    .sec-desc{
        grid-template-columns: 1fr 1fr;
    }
    
}



.copy1 {
    margin-top: 20px;
}

.copy1 a {
    font-size: 30px;
}

.copy1 p a {
    margin-right: 10px;
}


/* animation sec  */
.sun {
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    background-color: red;
    /* Initially red */
    border-radius: 50%;
    animation: riseSun 10s linear infinite;
    opacity: 0.5;
}

@keyframes riseSun {
    0% {
        bottom: -100px;
        background-color: red;
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        bottom: 200px;
        background-color: yellow;
        opacity: 0;
    }
}

.sunset {
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
    animation: fallSun 10s linear infinite;
    opacity: 0.5;
}

@keyframes fallSun {
    0% {
        top: -100px;
        background-color: red;
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        top: calc(100% + 100px);
        background-color: yellow;
        opacity: 0;
    }
}

.wind {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    animation: blowWind 5s linear infinite;
}

.wind::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    animation: moveAir 2s linear infinite;
}

.wind::before {
    left: 20%;
}

.wind::before {
    left: 40%;
}

.wind::before {
    left: 60%;
}

.wind::before {
    left: 80%;
}

@keyframes blowWind {
    0% {
        left: -100%;
    }

    100% {
        left: 100%;
    }
}

@keyframes moveAir {
    0% {
        top: 10px;
        left: 0;
    }

    100% {
        top: 50px;
        left: 100%;    }
}


.pressure {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
    animation: changeSize 5s ease-in-out infinite alternate;
    opacity: 0;
}

@keyframes changeSize {
    0% {
        width: 20px;
        height: 20px;
        background-color: red;
        opacity: 0.5;
    }

    50% {
        width: 150px;
        height: 150px;
        background-color: red;
        opacity: 0.2;
        
    }

    100% {
        width: 200px;
        height: 200px;
        background-color: yellow;
        opacity: 0;
    }
}