@import url('./App.css');
:root{
    --section-overlay: rgba(0,0,0,0.2);
    --background-overlay:rgba(0,0,0,0.5);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.overlay{
    width: 100%;
    height: 100vh;
    /* background-color: var(--background-overlay); */
}

.container{
    max-width: 800px;
    margin: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 1rem;
    /* opacity: 1; */
}

.sec{
    width: 80%;
    padding: 1rem;
    border-radius: 0.4rem;
    /* color: white; */
    color: black;
}
.sec1{
    width: 50%;
    padding: 1rem;
    border-radius: 0.4rem;
    /* color: white; */
    color: black;
    /* height: 90%; */
}

.sec-input{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: var(--section-overlay); */
    
}
.sec-temp{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: var(--section-overlay); */

    background: rgba(255, 255, 255, 0.1);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(7.5px);
        -webkit-backdrop-filter: blur(7.5px);
        

}

.sec-input>input{
    border: 0.8px solid white;
    border-radius: 0.4rem;
    /* background-color: transparent; */
    color: white;
    padding: 0.5rem;
    font-size: 20px;
    font-weight: 500;

    background: rgba(255, 255, 255, 0.1);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        
}
.sec-input>input:focus{
    outline: none;
}

.sec-input>button{
    padding: 10px;
    /* width: 8px; */
    border: none;
    border-radius: 0.4rem;
    font-size: 20px;
    font-weight: 400px;
    background-color: white;
}
.sec-input>button:hover{
    cursor: pointer;
    background-color: gray;
}

.icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.icon>h3{
    font-size: 19px;
    font-weight: 500;
    text-transform: capitalize;
}

.temperature{
    font-size: 60px;
}

.icon img {
    max-width: 100px;
    
    max-height: 100px;
    
    border-radius: 50%;
    
    background-color: rgba(87, 84, 84, 0.5);
    /* padding: 10px; */ 
}



/* search box */
.wave-group {
    position: relative;
    border-bottom: 2px solid black;


}

.wave-group .input {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    /* display: block; */
    width: 200px;
    border: none;
    /* border-bottom: 1px solid #515151; */
    
    background: transparent;
}

.wave-group .input:focus {
    outline: none;
}

.wave-group .label {
    color: #444040;
    font-size: 18px;
    font-weight: 500;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    display: flex;
}

.wave-group .label-char {
    transition: 0.2s ease all;
    transition-delay: calc(var(--index) * .05s);
}

.wave-group .input:focus~label .label-char,
.wave-group .input:valid~label .label-char {
    transform: translateY(-20px);
    font-size: 14px;
    /* color: #5264AE; */
    color: black;
}

.wave-group .bar {
    position: relative;
    display: block;
    width: 200px;
}

.wave-group button{
    border: none;
    background: transparent;
    font-size: 1.3rem;
}

.wave-group .bar:before,
.wave-group .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    /* background: #5264AE; */
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.wave-group .bar:before {
    left: 50%;
}

.wave-group .bar:after {
    right: 50%;
}

.wave-group .input:focus~.bar:before,
.wave-group .input:focus~.bar:after {
    width: 50%;
}